@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: rgb(255, 255, 255);
}
.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    max-width:100% ;
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    position: relative;
}
.image{
    position: relative;
    height: 150px;
    width:150px;
    border-radius: 50%;
    padding: 3px;
    background-color:rgb(19, 95, 175)
}

.image .profile-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}
.profile-card .text.data{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text.data .name{
    font-size: 22px;
    font-weight: 500;
    color: rgb(31, 31, 35);
}
.text.data .job{
    font-size: 16px;
    font-weight: 400;
    color: rgb(31, 31, 35);
}
.profile-card .media-buttons{
    display:flex;
    align-items: center;
    margin-top: 15px;
}
.media-buttons .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: rgb(19, 95, 175);
    margin: 0 8px;
    text-decoration: none;
    font-size:18px;
}
.profile-card .buttons{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}
.buttons .button{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: none;
    background-color: rgb(19, 95, 175);
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.buttons .button:hover{
    background-color: rgb(0, 136, 255);
}
.profile-card::before{
    content: '';
    position:absolute;
    height:36%;
    width: 100%;
    top:0;
    left:0;
    border-radius: 24px 24px 0 0;
    background-color: rgb(0, 136, 255);
}
.profile-card .number{
    display:flex;
    align-items: center;
    margin-top: 15px;
}
.profile-card .number .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: rgb(19, 95, 175);
    margin: 0 8px;
    text-decoration: none;
    font-size:18px;
}
.profile-card .number .phone{
    font-size: 15px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}